body {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
    margin-top: 120px;
}

.subtext-header {
	color: #808080;
	font-size: 16px;
}

.no-link-color {
    color: inherit;
}

#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.page-header {
    transition: all 0.4s ease;
    margin: 20px 0 0px;
}
.page-header h4 {
    margin-top: 35px;
}

.page-header.sticky {
    transition: all 0.4s ease;
    margin: 0;
}

#portrait-img {
    width: 50%;
}

.section-header {
    margin: 1em 0;
}

/* Give space at bottom of page */
#contact {
    margin-bottom: 50px;
}