body {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
    margin-top: 120px;
}

.subtext-header {
	color: #808080;
	font-size: 16px;
}

.no-link-color {
    color: inherit;
}

#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.page-header {
    transition: all 0.4s ease;
    margin: 10px 0 0px;
    border: 0;
}
.page-header h1 {
    transition: all 0.4s ease;
}
.page-header h4 {
    transition: all 0.4s ease;
    margin-top: 35px;
}

.page-header.sticky {
    transition: all 0.4s ease;
    margin: 0 0 0;
}
.page-header.sticky {
    transition: none;
    border-bottom: 1px solid #eee;
}
.page-header.sticky h1 {
    font-size: 25px;
    margin: 10px 0 0;
}
.page-header.sticky small {
    font-size: 12px;
}
.page-header.sticky h4 {

    font-size: 16px;
    margin: 25px 0 0;
}

#portrait-img {
    width: 50%;
}

.section-header {
    transition: all 0.4s ease;
    margin: 1em 0;
}

/* Give space at bottom of page */
#contact {
    margin-bottom: 50px;
}

#nav-logo.sticky {
    transition: all 0.4s ease;
    width: 75%;
}