<div class="centered-card demo-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Create a Player</h2>
  </div>
  <div class="mdl-card__supporting-text">
  	<!-- Name -->
    <md-input-container>
      <label>Name</label>
      <input ng-model="player.name" required>
    </md-input-container>
    <!-- Team -->
		<md-input-container>
			<label>Team</label>
			<md-select ng-model="player.team"
			           md-on-close="clearSearchTerm()"
			           class="selectdemoSelectHeader"
			           id='selectdemoSelectHeaderId'>
			  <md-select-header class="demo-select-header">
			    <input ng-model="searchTerm"
			           type="search"
			           placeholder="Search for teams..."
			           class="demo-header-searchbox _md-text">
			  </md-select-header>
			  <md-optgroup label="teams">
			    <md-option ng-value="team.url" ng-repeat="team in teams | filter:searchTerm">{{team.name}}</md-option>
			  </md-optgroup>
			</md-select>
    </md-input-container>
		<!-- Year -->
    <md-input-container>
      <label>Year</label>
      <input ng-model="player.year" required>
    </md-input-container>
    <!-- Position -->
    <md-input-container>
      <label>Position</label>
      <input ng-model="player.position"required>
    </md-input-container>
    <!-- Age -->
    <md-input-container>
      <label>Age</label>
      <input ng-model="player.age" required>
    </md-input-container>
    <!-- Height -->
    <md-input-container>
      <label>Height</label>
      <input ng-model="player.height" required>
    </md-input-container>
    <!-- Weight -->
    <md-input-container>
      <label>Weight</label>
      <input ng-model="player.weight" required>
    </md-input-container>
		<!-- Appearances -->
    <md-input-container>
      <label>Appearances</label>
      <input ng-model="player.appearances" required>
    </md-input-container>
		<!-- Goals -->
    <md-input-container>
      <label>Goals</label>
      <input ng-model="player.goals" required>
    </md-input-container>
		<!-- Assists -->
    <md-input-container>
      <label>Assists</label>
      <input ng-model="player.assists" required>
    </md-input-container>
		<!-- Yellow -->
    <md-input-container>
      <label>Yellow Cards</label>
      <input ng-model="player.yellow" required>
    </md-input-container>
		<!-- Red -->
    <md-input-container>
      <label>Red Cards</label>
      <input ng-model="player.red" required>
    </md-input-container>
		<!-- Shots Per Game -->
    <md-input-container>
      <label>Shots per Game</label>
      <input ng-model="player.shots_per_game" required>
    </md-input-container>
		<!-- Pass Percentage -->
    <md-input-container>
      <label>Pass Percentage</label>
      <input ng-model="player.ps" required>
    </md-input-container>
		<!-- Aerials Won -->
    <md-input-container>
      <label>Aerials Won</label>
      <input ng-model="player.aerials_won" required>
    </md-input-container>
		<!-- Man of the Match -->
    <md-input-container>
      <label>Man of the Match</label>
      <input ng-model="player.motm" required>
    </md-input-container>
		<!-- Rating -->
    <md-input-container>
      <label>Rating</label>
      <input ng-model="player.rating" required>
    </md-input-container>
		<!-- Skills -->
    <md-input-container>
      <label>Skills (Scoring, Defending, Passing, Goalkeeping)</label>
      <input ng-model="player.skills" required>
    </md-input-container>


  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="createPlayer()">
      Submit
    </a>
  </div>
</div>
