<div layout="row" layout-align="center">
  <div class="demo-card mdl-card mdl-shadow--2dp" layout-margin="50px">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Players</h2>
    </div>

    <div class="mdl-card__supporting-text">
      <div>
        <fieldset class="standard">
          <div layout="row" layout-wrap flex>
            <div ng-repeat="player in team.players" class="standard" flex="50">
              <label>
                {{ player.name }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>


  <div class="demo-card mdl-card mdl-shadow--2dp" layout-margin="50px">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Create a team</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <!-- Name -->
      <md-input-container>
        <label>Team</label>
        <input ng-model="team.name" required>
      </md-input-container>
      <!-- League -->
      <md-input-container>
        <label>League</label>
        <input ng-model="team.league" required>
      </md-input-container>
      <!-- Team -->
      <md-input-container>
        <label>Players</label>
        <md-select ng-model="team.players"
                   md-on-close="clearSearchTerm()"
                   class="selectdemoSelectHeader"
                   id='selectdemoSelectHeaderId'
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for teams..."
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="players">
            <md-option ng-value="player" ng-repeat="player in players | filter:searchTerm">{{player.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="createTeam()">
        Submit
      </a>
    </div>
  </div>

  <div class="demo-card mdl-card mdl-shadow--2dp" layout-margin="50px">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Suggested Players</h2>
    </div>

    <div class="mdl-card__supporting-text">
      <div>
        <fieldset class="standard">
          <div layout="row" layout-wrap flex>
            <div ng-repeat="player in players | filter:recommendType | filter:filterAlreadyAdded" class="standard" flex="50">
              <label>
                {{ player.name }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- End of card -->
</div>