<div>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp search-box">
    <div class="mdl-card__supporting-text">
      <md-input-container>
        <label>Min Price</label>
        <input ng-model="search.min_price" type="number" min="0" ng-disabled="disableFilters">
      </md-input-container>
      <md-input-container>
        <label>Max Price</label>
        <input ng-model="search.max_price" type="number" min="0" ng-disabled="disableFilters">
      </md-input-container>
      <md-input-container>
        <label>City</label>
        <input ng-model="search.city" ng-disabled="disableFilters">
      </md-input-container>
      <md-input-container>
        <label>Style</label>
        <md-select ng-model="search.style" aria-label="style" ng-disabled="disableFilters">
          <md-option value="Studio">Studio</md-option>
          <md-option value="One Bedroom">One Bedroom</md-option>
          <md-option value="Two Bedroom">Two Bedroom</md-option>
          <md-option value="Three Bedroom">Three Bedroom</md-option>
          <md-option value="Four Bedroom">Four Bedroom</md-option>
          <md-option value="Five Bedroom">Five Bedroom</md-option>
          <md-option value="Duplex/Triplex">Duplex/Triplex</md-option>
          <md-option value="Condomium">Condomium</md-option>
        </md-select>
      </md-input-container>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.garden_backyard">Garden/Backyard</md-checkbox>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.pool">Pool</md-checkbox>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.gym">Gym</md-checkbox>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.shopping_mall">Shopping Mall</md-checkbox>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.beach">Beach</md-checkbox>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.movie_theater">Movie Theater</md-checkbox>
      <md-checkbox class="md-primary" ng-disabled="disableFilters" ng-model="amenity.amusement_park">Amusement Park</md-checkbox>
      <div>Expected Price</div>
      <md-input-container>
        <label>Month</label>
        <md-select ng-model="expected.month" aria-label="month">
          <md-option value="January">January</md-option>
          <md-option value="February">February</md-option>
          <md-option value="March">March</md-option>
          <md-option value="April">April</md-option>
          <md-option value="May">May</md-option>
          <md-option value="June">June</md-option>
          <md-option value="July">July</md-option>
          <md-option value="August">August</md-option>
          <md-option value="September">September</md-option>
          <md-option value="October">October</md-option>
          <md-option value="November">November</md-option>
          <md-option value="December">December</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Year</label>
        <input ng-model="expected.year" type="number" min="2015">
      </md-input-container>
    </div>
  </div>
  <md-progress-circular class="md-background centered-card" md-mode="indeterminate" ng-if="loading" md-diameter="40"></md-progress-circular>
  <div class="centered-card demo-card image mdl-card mdl-shadow--2dp" ng-repeat="house in houses" ng-if="!loading">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{house.address}}, {{house.city}}, {{house.state}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div>Rent: {{house.rent | currency}}/month</div>
      <div>Style: {{house.style}}</div>
      <div>Number of people: {{house.number_of_people}}</div>
      <h6>Amenities</h6>
      <div>Garden/Backyard: {{house.amenity.garden_backyard ? 'Yes': 'No'}}</div>
      <div>Pool: {{house.amenity.pool ? 'Yes': 'No'}}</div>
      <div>Gym: {{house.amenity.gym ? 'Yes': 'No'}}</div>
      <div>Shopping: {{house.amenity.shopping_mall ? 'Yes': 'No'}}</div>
      <div>Beach: {{house.amenity.beach ? 'Yes': 'No'}}</div>
      <div>Movie Theater: {{house.amenity.movie_theater ? 'Yes': 'No'}}</div>
      <div>Amusement Park: {{house.amenity.amusement_park ? 'Yes': 'No'}}</div>
      <br>
      <div>{{ house.expectedPrice ? (house.expectedPrice > 0 ? 'Expected Price: $' + house.expectedPrice : 'Expected Price: N/A') : ''}}</div>
    </div>
  </div>
</div>