<div class="centered-card demo-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <md-input-container>
      <label>Name</label>
      <input ng-model="user.name" required>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="user.password" type="password">
    </md-input-container>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="login()">
      Login
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="signup()">
      Sign Up
    </a>
  </div>
</div>
