<div class="centered-card demo-card-wide image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome to Ultimate Team</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div><b>MyTeams</b> - View your teams, and create new teams.</div>
    <div><b>Simulate A Game</b> - Simulate games between your favorite teams.</div>
    <div><b>Players</b> - View all players around the world in different leagues.</div>
    <div><b>Teams</b> - View all teams around the world.</div>
  </div>
</div>