<div layout="row" layout-align="center center">
	<div class="left-card demo-card mdl-card mdl-shadow--2dp" align="center center">
		<div class="mdl-card__title" align="center">
	 	 	<h2 class="mdl-card__title-text">{{player.name}}</h2>
		</div>

	<!-- <div class="mdl-card__supporting-text">
		<p>Team: {{player.team_name}}</p>
		<p>Position: {{player.position}}</p>
		<p>Season: {{player.year}}</p>
		<p>Age: {{player.age}}</p>
	</div> -->

	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align = "center center">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Team</th>
	      <th class="mdl-data-table__cell--non-numeric">Position</th>
	      <th class="mdl-data-table__cell--non-numeric">Season</th>
	      <th class="mdl-data-table__cell--non-numeric">Age</th>
	    </tr>
	  </thead>
	  <tbody>
	    <td class="mdl-data-table__cell--non-numeric">
	      <a ng-href="#/teams/{{team.id}}">{{player.team_name}}</a>
	    </td>
	    <td class="mdl-data-table__cell--non-numeric">
	      {{player.position}}
	    </td>
	    <td class="mdl-data-table__cell--non-numeric">
	      {{player.year}}
	    </td>
	    <td class="mdl-data-table__cell--non-numeric">
	      {{player.age}}
	    </td>
	  </tbody>
	</table>

	<div class="mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="deletePlayer()">
	      Delete
	    </a>
	</div>

	</div>
</div>