
<div style="margin-left: 100px;">
  <h2>Teams</h2>
</div>

<div align="center">
  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="sample3" placeholder="Search For Teams" ng-model="query">
    </div>
  </form>
</div>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align = "center">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Team</th>
      <th class="mdl-data-table__cell--non-numeric">League</th>
      <th class="mdl-data-table__cell--non-numeric">Roster Size</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in teams | filter: owner">
        <td class="mdl-data-table__cell--non-numeric">
          <a ng-href="#/teams/{{team.id}}">{{team.name}}</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span>{{team.league}}</span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <span>{{team.players.length}}</span>
        </td>
    </tr>
  </tbody>
</table>