<!-- <ul>
	<li ng-repeat="player in team.players">
		<a ng-href="#/players/{{player['id']}}">{{player["player_name"]}}</a>
	</li>
</ul> -->

<div layout="row" layout-align="center center">
	<div class="left-card demo-card mdl-card mdl-shadow--2dp" align="center">
		<div class="mdl-card__title" align="center">
	 	 	<h2 class="mdl-card__title-text">{{team.name}}</h2>
		</div>

	<div class="mdl-card__supporting-text">
		<p>Team: {{team.name}}</p>
		<p>League: {{team.league}}</p>
	</div>

	<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" align = "center">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Name</th>
	      <th class="mdl-data-table__cell--non-numeric">Position</th>
	      <th class="mdl-data-table__cell--non-numeric">Age</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="player in players">
	        <td class="mdl-data-table__cell--non-numeric">
	          <a ng-href="#/players/{{player.id}}">{{player.name}}</a>
	        </td>
	        <td class="mdl-data-table__cell--non-numeric">
	          <span>{{player.position}}</span>
	        </td>
	        <td class="mdl-data-table__cell--non-numeric">
	          <span>{{player.age}}</span>
	        </td>
	    </tr>
	  </tbody>
	</table>
</div>